<p>SIGN IN FORM</p>
<form action="/create-session" method="POST">

<input name="email" placeholder="E-MAIL" >
<input name="password" placeholder="password">
<button type="submit">SIGN IN</button>
</form>
<a href= "/auth">
    GOOGLE SIGN-IN/UP
    </a>